<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Полная карточка товара</title>
  <link href="../static/css/styles.min.css" rel="stylesheet">
</head>

<body>
  <header class="container header">
    <div class="header__wrapper">
      <a href="/" class="header__logo-link">Яблочная лавка</a>
      <nav class="header__nav">
        <ul class="header__menu">
          <li class="header__menu-item"><a href="/" class="header__menu-link">Главная</a></li>
          <li class="header__menu-item"><a href="/search" class="header__menu-link">Поиск</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="container">
    <section class="item-card">
      <h1 class="item-card__title title">Macbook Pro 13, 2021</h1>
      <a href="#" class="item-card__more">Показать в кратком формате</a>
      <div class="item-card__card">
        <div class="item-card__img-wrapper">
          <img src="../static/img/item1.jpg" srcset="../static/img/item1_2x.jpg" alt="" class="item-card__img" />
        </div>
        <p class="item-card__info">Модель: macbook pro</p>
        <p class="item-card__info">Год выпуска: 2021</p>
        <p class="item-card__info">CPU: i9 </p>
        <p class="item-card__info">RAM: 32GB</p>
        <p class="item-card__info">GPU: radeon d3</p>
        <p class="item-card__info">Цена: 200 000 рублей </p>
      </div>
    </section>
  </main>
</body>

</html>