<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Поиск — результаты</title>
  <link href="../static/../static/css/styles.min.css" rel="stylesheet">
</head>

<body>
  <header class="container header">
    <div class="header__wrapper">
      <a href="/" class="header__logo-link">Яблочная лавка</a>
      <nav class="header__nav">
        <ul class="header__menu">
          <li class="header__menu-item"><a href="/" class="header__menu-link">Главная</a></li>
          <li class="header__menu-item"><a href="/search" class="header__menu-link">Поиск</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="container">
    <section class="page-search">
      <h1 class="page-search__title title">Поиск</h1>
      <form action="/search" class="page-search__form">
        <div class="page-search__input-wrap">
          <input name="model" type="search" class="page-search__input input" placeholder="Например: macpro или imac">
        </div>
        <button type="submit" class="page-search__btn">Найти</button>
      </form>
    </section>
    <section class="items">
      <p class="items__deteils">Найдено: {{ entities | length }}</p>
      <div class="items__wrapper">
        {% for e in entities %}
        <div class="items__item item">
          <a href="/card/{{ e.id }}" class="item__wrapper">
            <div class="item__img-wrapper">
              <img src="../static/{{ e.img }}" srcset="../static/{{ e.img_set }}" alt="" class="item__img" />
            </div>
            <p class="item__title">{{ e.name }}</p>
            <p class="item__descr">{{ e.cpu }} {{ e.ram }} {{ e.video }}</p>
            <p class="item__price">{{ e.price }}</p>
          </a>
        </div>
        {% endfor %}
      </div>
    </section>
  </main>
</body>

</html>